.search-box {
    margin: 0 0 75px;
    width: 100%;
}

.search-box .search-bar {
    appearance: none;
    background: none;
    background-color: rgba(255, 255, 255 0.5);
    border: none;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: 313131;
    display: block;
    font-size: 20px;
    margin-top: -25px;
    outline: none;
    padding: 15px;
    transition: 0.4s ease;
    width: 100%;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 075);
}
